
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script src="/js/typingEffect.js">
</script>
</body>
<!-- <footer class="bg-blue-900 grid justify-between grid-cols-2 pb-4">
    <div class="flex items-center">
        <h1 class="text-white text-4xl font-Montserrat font-bold ml-2">MAUFINANCE</h1>
    </div>
  
    <div class="flex items-center justify-end mr-2 mt-2">
        <img src="/image/github.png" alt="" class="mr-2">
        <a href="https://github.com/ItsMauls" class="block text-2xl text-blue-200 font-semibold uppercase">github</a>
    </div>
</footer> -->

</html>