<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<div class="flex items-center justify-center mx-auto mt-14 bg-blue-200">
    <div class="grid md:grid-cols-2 max-w-5xl gap-14">
        <div class="mt-40">
            <span class=" font-Montserrat text-4xl text-sky-900 font-bold">Kelola Uangmu Sekarang!</span>
            <p class="text-lg  mt-2 text-center md:text-start">
                 Dapatkan kendali penuh atas pengeluaran Anda dengan membedakan antara kebutuhan dan keinginan,
                  serta tetapkan anggaran yang jelas untuk prioritas utama Anda. Dengan fitur pelacakan transaksi harian yang mudah digunakan,
                   Anda dapat dengan cepat melihat perkembangan finansial Anda. </p>
        </div>
        <div class="">
            <img src="/image/Collaboration.png" alt="">
        </div>
    </div>

</div>
 
 <!-- keinginan -->
        <div class=" text-start">
            <h1 class="bg-red-500 text-4xl mx-4 border-b-2 border-red-900">KEINGINAN</h1>
            <div class="bg-blue-200 my-2 mx-4">
                <ul class="text-2xl mx-2 py-4">
                
                    <div class="grid grid-cols-3 text-2xl  text-cyan-600 font-bold font-QuickSand border-b-4 mb-2 border-blue-600">
                        <div>qty</div>
                        <div class="text-center">Keinginan Saat Ini</div>
                        <div class="text-center">Harga</div>
                     </div>
                
                        <% for(let pw of prioWants) { %>
                            <li class="grid mx-auto grid-cols-3 border-b-2 border-blue-300 my-2">
                                <%= pw %>
                            </li>
                        <% } %>
                    
        
                    <li class="flex justify-between items-center gap-x-4">
                        <form action="/prioritas/wants" method="POST" class="flex items-center w-full">
                            <input value="1" type="number" class="w-2/12 bg-transparent bg-yellow-50 border-r-2 border-white border-r-yellow-200 rounded-l-lg" placeholder="qty" name="qty_wants">
                            <input type="text" class="w-3/4 bg-transparent bg-yellow-50 border-r-2 border-white border-r-yellow-200" placeholder="Kebutuhanmu Apa" name="items_wants">
                            <input type="number" class="w-fit bg-transparent bg-yellow-50 border-r-2 border-white rounded-r-lg" placeholder="Harga" name="price_wants">
                            <button class="ml-1 bg-blue-500 rounded-full px-4 border-black-900 border py-2 text-2xl text-white font-bold">></button>
                        </form>
                    </li>
                    
                </ul>
                <div class="bg-blue-400 text-xl px-4 grid grid-cols-2 py-2">
                    <div class=" bg-green-100 border-black border-b-2">
                  
                    </div>
                    <div class="px-4 border-black bg-red-100 border-b-2">
                        Total Harga Kebutuhan :
                     
                    </div>
                    <div class="bg-cyan-500 col-span-2" >
                 
                    </div>
                </div>
            </div>

            <%- include('../includes/footer.ejs') %>